extends layout 

block content 

    h1 Tea Type: 
    
    h2 #{category_name} 

    ul 
        each item in category_items
            li 
                a(href=item.url) #{item.item_name}
    
        else
            li There are no items in the category.

    //- hr
    //- p
    //-     a(href=category.url+'/delete') Delete Category


