extends layout 

block content 

    h1 Tea Type: 
    
    h2 #{category_name} 

    //- ul 
    //- each item in item_list
    //-   li 
    //-     a(href=item.url) #{item.item_name}
    
    //- else
    //-   li There are no more items.



