doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block sidebar
      div(class='nav-body-container')
        ul(class='sidebar')
          li 
            a(href='/inventory/category') All Tea Categories 
          li 
            a(href='/inventory/items') All Tea Varieties
        div(class='body-container')
          block content
