body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.nav-body-container {
  display: flex;
}

.sidebar {
  padding-right: 5rem;
  list-style-type: none;
  font-size: 1rem;
  font-weight: bold;
}
